html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #000;
  color: #fff;
}

header {
  padding: 50px;
}

.btn-primary {
  background-color: #000;
  border: none;
}

.btn-primary:hover,
.btn-primary:active
.btn-primary:focus {
  background-color: #e3350d !important;
  color: #fff;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(227, 53, 13, 0.5);
}

.btn-secondary{
  background-color: #e3350d;
  color: #fff;
  border: none;
}

.btn-primary:active,
.btn-secondary:focus{
  background-color: #e3350d !important;
}

.capitalize-first-letter {
  text-transform: capitalize;
}

.navContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

#logo {
  max-width: 300px;
  padding: 0;
}

.form-control {
  max-width: 200px !important;
}

.input-group {
  margin-top: 25px;
  margin-bottom: 50px;
}

#loadMoreBtn {
  margin-bottom: 50px;
}

.custom-list-style {
  list-style: none; 
  padding: 0; 
}

.custom-list-style li {
  border: none;
}