nav {
  margin-top: 25px;
  margin-bottom: 100px;
  text-align:center;

}

footer{
  margin-top: 50px;
}
.btn:focus {
border-color: none;
}
/* ----------------- Modal ------------------- */
.capitalize-first-letter {
  text-transform: capitalize;
}

.navContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

