
nav {
  margin-top: 25px;
  margin-bottom: 50px;
  text-align:center;

}

footer{
  margin-top: 50px;
}

.btn-primary {
  background-color: #000;
  border: none;
}

.btn-primary:hover {
  background-color: #e3350d;
  color: #fff;
}



/* ----------------- Modal ------------------- */
.capitalize-first-letter {
  text-transform: capitalize;
}

.navContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

